*.pyc
*.db
*.sqlite
*.log
.dap-breakpoints
*.swp
*.cache
projects
nov-places
*.data
.org-id-locations
*.db



backups/
auto-save-list/
savehist
main.el
smex-items
elpa/
eshell/
projectile-bookmarks.eld
transient/
main.el
tramp
.lsp-session*
emojis/
bookmarks
games/
eln-cache/
straight/
url/
request/
copilot.el/
elpy/
multisession/
org-roam.db
custom-set-vars.el
elfeed/
ellama-sessions/
history
notes
ielm-history.eld
oauth2.plstore
tree-sitter/